body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

.navbar {
  background-color: #999999;
}

.navbar-brand a {
  color: #000000;
  font-weight: bold;

}

.navbar-default .navbar-toggle {
  border-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-nav .border-li {
  border-bottom: 1px solid black;
}

.navbar-default .navbar-nav li a {
  color: #000000;
}

.navbar-default .navbar-nav {
  border: 1px ;
}

#chicken {
  background-color: #999999;
  margin: 10px;
}

#chicken-title{
  padding-top: 10px;
}

#chicken-text{
  margin: 15px;
  padding-bottom: 10px;
}
